.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}


/* 2xl */
@media (max-width: 2666px) {
  .container {
    max-width: 980px;
  }
}


/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 980px;
  }

  .a-container {
    width: 1024px;
    font-size: 1em;
  }
  
}

/* lg */
@media screen and (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
  .a-container {
    font-size: 0.75em;
  }

  .a-container img {
    width: 260px;
  }
}

/* md */
@media screen and (max-width: 798px) {
  .container {
    max-width: 640px;
  }
  .a-container {
    font-size: 0.7em;
  }

  .a-container img {
    width: 250px;
  }
}

/* sm */
@media screen and (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

/* xs */
@media screen and (max-width: 475px) {
  .container {
    width: 100%;
    margin: 0 0;
  }
  .a-container {
    font-size: 10px;
  }
  .ingredients div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  .steps {
    width: 100%;
    margin:10px 0;
    border-radius: 10px;
  }

}

/*css starts here*/

body {
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.food-name {
  transition: all 0.3s;
}
.food-name {
  text-decoration: underline;
  color: rgb(255, 255, 255);
}

.backhome {
  color: rgb(184, 102, 186);
  cursor: pointer;
}
.con {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  margin-top: 5px;
}



.a-container {
  background-color: black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.food-img {
  width: 300px;
  height: auto;
  border-radius: 20px;
  overflow: hidden;
}
.food-img img {
  width: 100%;
  transition: 0.5s all ease-in-out;
}

.food-img:hover img {
  transform: scale(1.2);
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.food-des {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1000px;
  background-color:  black;
  border-radius: 20px;
}
.description {
  border-radius: 20px;
}
.description h1 {
  margin: 0;
}
.recipe {
  background-color: black;
  border-radius: 20px;
  margin-top: 20px;
  width: 100%;
}

.ingredients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.steps {
  border-radius: 20px;
}

.steps img {
  width: 70%;
  margin:10px 0;
  border-radius: 10px;
}

.backhome {
  text-decoration: none;
  color: aliceblue;
  font-size: 2em;
  border-radius: 20px;
}
